
.item {
    padding: 10px;
}

.item p {
    text-align: justify;
    margin-top: 20px;
}
em {
    font-weight: 400;
}

.page-links{
    text-align: right;
    margin-top: 20px;
}

.page-links button {
    margin-right: 20px;
    margin-bottom: 20px;
}

.page-links button:hover {
    transform: scale(1.2);
}
